In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv(r"C:\machine learning use case\smart energy\smart energy\dataset\building_consumption.csv")

In [3]:
df.head()

   campus_id  meter_id            timestamp  consumption
0          1         1  2019-03-29 01:15:00        0.011
1          1         1  2019-03-29 01:30:00        0.021
2          1         1  2019-03-29 01:45:00        0.038
3          1         1  2019-03-29 02:00:00        0.871
4          1         1  2019-03-29 02:15:00        0.873

In [4]:
df=df[df["campus_id"]==2]

In [5]:
df.head()

        campus_id  meter_id            timestamp  consumption
671275          2         8  2019-01-01 00:15:00      2.28125
671276          2         8  2019-01-01 00:30:00      2.20313
671277          2         8  2019-01-01 00:45:00      2.79688
671278          2         8  2019-01-01 01:00:00      2.28125
671279          2         8  2019-01-01 01:15:00      2.23438

In [6]:
df["meter_id"].unique()

array([ 8,  9, 10, 11, 12, 13, 14, 47, 48], dtype=int64)

In [7]:
df["timestamp"]=pd.to_datetime(df["timestamp"])

In [8]:
df.head()

        campus_id  meter_id           timestamp  consumption
671275          2         8 2019-01-01 00:15:00      2.28125
671276          2         8 2019-01-01 00:30:00      2.20313
671277          2         8 2019-01-01 00:45:00      2.79688
671278          2         8 2019-01-01 01:00:00      2.28125
671279          2         8 2019-01-01 01:15:00      2.23438

In [9]:
start_date = pd.to_datetime('2021-01-01')  
end_date = pd.to_datetime('2021-01-08')  

df= df[(df['timestamp'] > start_date) & (df['timestamp'] < end_date)]

In [10]:
df

         campus_id  meter_id           timestamp  consumption
725969           2         8 2021-01-01 00:15:00       1.6250
725970           2         8 2021-01-01 00:30:00       1.7500
725971           2         8 2021-01-01 00:45:00       1.6250
725972           2         8 2021-01-01 01:00:00       1.6875
725973           2         8 2021-01-01 01:15:00       1.6250
...            ...       ...                 ...          ...
5934707          2        48 2021-01-07 22:45:00       0.7410
5934708          2        48 2021-01-07 23:00:00       0.7030
5934709          2        48 2021-01-07 23:15:00       0.6630
5934710          2        48 2021-01-07 23:30:00       0.4620
5934711          2        48 2021-01-07 23:45:00       0.5810

[5768 rows x 4 columns]

In [11]:
df=df.drop(["campus_id"],axis=1)

In [12]:
df=df.set_index("timestamp")

# 8

In [13]:
df1=df[df["meter_id"]==8]

In [14]:
df1.head()

                     meter_id  consumption
timestamp
2021-01-01 00:15:00         8       1.6250
2021-01-01 00:30:00         8       1.7500
2021-01-01 00:45:00         8       1.6250
2021-01-01 01:00:00         8       1.6875
2021-01-01 01:15:00         8       1.6250

In [15]:
df1=df1.drop(["meter_id"],axis=1)

In [16]:
df1=df1.resample("H").sum()
df1

                     consumption
timestamp
2021-01-01 00:00:00       5.0000
2021-01-01 01:00:00       6.6875
2021-01-01 02:00:00       6.5000
2021-01-01 03:00:00       6.5625
2021-01-01 04:00:00       7.3125
...                          ...
2021-01-07 19:00:00      21.9225
2021-01-07 20:00:00      12.7570
2021-01-07 21:00:00       5.1250
2021-01-07 22:00:00       6.3125
2021-01-07 23:00:00       6.4375

[168 rows x 1 columns]

In [17]:
df1["building"]=1

In [18]:
df1

                     consumption  building
timestamp
2021-01-01 00:00:00       5.0000         1
2021-01-01 01:00:00       6.6875         1
2021-01-01 02:00:00       6.5000         1
2021-01-01 03:00:00       6.5625         1
2021-01-01 04:00:00       7.3125         1
...                          ...       ...
2021-01-07 19:00:00      21.9225         1
2021-01-07 20:00:00      12.7570         1
2021-01-07 21:00:00       5.1250         1
2021-01-07 22:00:00       6.3125         1
2021-01-07 23:00:00       6.4375         1

[168 rows x 2 columns]

# 9

In [19]:
df2=df[df["meter_id"]==9]
df2=df2.drop(["meter_id"],axis=1)
df2=df2.resample("H").sum()
df2["building"]=2

In [20]:
df2

                     consumption  building
timestamp
2021-01-01 00:00:00        6.123         2
2021-01-01 01:00:00        8.235         2
2021-01-01 02:00:00        8.422         2
2021-01-01 03:00:00        8.107         2
2021-01-01 04:00:00        8.122         2
...                          ...       ...
2021-01-07 19:00:00       15.941         2
2021-01-07 20:00:00       15.724         2
2021-01-07 21:00:00       10.609         2
2021-01-07 22:00:00        8.679         2
2021-01-07 23:00:00        8.487         2

[168 rows x 2 columns]

# 10

In [21]:
df3=df[df["meter_id"]==10]
df3=df3.drop(["meter_id"],axis=1)
df3=df3.resample("H").sum()
df3["building"]=3

In [22]:
df3

                     consumption  building
timestamp
2021-01-01 00:00:00        1.051         3
2021-01-01 01:00:00        1.120         3
2021-01-01 02:00:00        1.278         3
2021-01-01 03:00:00        0.652         3
2021-01-01 04:00:00        1.091         3
...                          ...       ...
2021-01-07 19:00:00        1.729         3
2021-01-07 20:00:00        0.000         3
2021-01-07 21:00:00        1.206         3
2021-01-07 22:00:00        1.379         3
2021-01-07 23:00:00        0.346         3

[168 rows x 2 columns]

# 11

In [23]:
df4=df[df["meter_id"]==11]
df4=df4.drop(["meter_id"],axis=1)
df4=df4.resample("H").sum()
df4["building"]=4

In [24]:
df4

                     consumption  building
timestamp
2021-01-01 00:00:00       12.221         4
2021-01-01 01:00:00       14.847         4
2021-01-01 02:00:00       14.580         4
2021-01-01 03:00:00       16.710         4
2021-01-01 04:00:00       13.683         4
...                          ...       ...
2021-01-07 19:00:00       16.336         4
2021-01-07 20:00:00       15.309         4
2021-01-07 21:00:00       18.455         4
2021-01-07 22:00:00       13.049         4
2021-01-07 23:00:00       17.948         4

[168 rows x 2 columns]

# 12

In [25]:
df5=df[df["meter_id"]==12]
df5=df5.drop(["meter_id"],axis=1)
df5=df5.resample("H").sum()
df5["building"]=5

In [26]:
df5

                     consumption  building
timestamp
2021-01-01 00:00:00        1.331         5
2021-01-01 01:00:00        1.785         5
2021-01-01 02:00:00        1.763         5
2021-01-01 03:00:00        1.839         5
2021-01-01 04:00:00        2.186         5
...                          ...       ...
2021-01-07 19:00:00        1.656         5
2021-01-07 20:00:00        2.062         5
2021-01-07 21:00:00        1.781         5
2021-01-07 22:00:00        1.951         5
2021-01-07 23:00:00        1.899         5

[168 rows x 2 columns]

# 13

In [27]:
df6=df[df["meter_id"]==13]
df6=df6.drop(["meter_id"],axis=1)
df6=df6.resample("H").sum()
df6["building"]=6

In [28]:
df6

                     consumption  building
timestamp
2021-01-01 00:00:00      4.01200         6
2021-01-01 01:00:00      5.54725         6
2021-01-01 02:00:00      5.89100         6
2021-01-01 03:00:00      5.23275         6
2021-01-01 04:00:00      4.04225         6
...                          ...       ...
2021-01-07 19:00:00     19.12150         6
2021-01-07 20:00:00      6.08975         6
2021-01-07 21:00:00      5.57750         6
2021-01-07 22:00:00      3.88800         6
2021-01-07 23:00:00      5.10975         6

[168 rows x 2 columns]

# 14

In [29]:
df7=df[df["meter_id"]==14]
df7=df7.drop(["meter_id"],axis=1)
df7=df7.resample("H").sum()
df7["building"]=7

In [30]:
df7

                     consumption  building
timestamp
2021-01-01 00:00:00     34.28125         7
2021-01-01 01:00:00     47.96876         7
2021-01-01 02:00:00     44.79689         7
2021-01-01 03:00:00     43.04688         7
2021-01-01 04:00:00     54.95313         7
...                          ...       ...
2021-01-07 19:00:00     49.43751         7
2021-01-07 20:00:00     44.95313         7
2021-01-07 21:00:00     45.64063         7
2021-01-07 22:00:00     43.98439         7
2021-01-07 23:00:00     42.54688         7

[168 rows x 2 columns]

# 47

In [31]:
df8=df[df["meter_id"]==47]
df8=df8.drop(["meter_id"],axis=1)
df8=df8.resample("H").sum()
df8["building"]=8

In [32]:
df8

                     consumption  building
timestamp
2021-01-01 00:00:00        2.867         8
2021-01-01 01:00:00        4.021         8
2021-01-01 02:00:00        3.798         8
2021-01-01 03:00:00        3.315         8
2021-01-01 04:00:00        2.929         8
...                          ...       ...
2021-01-07 19:00:00        6.960         8
2021-01-07 20:00:00        4.887         8
2021-01-07 21:00:00        5.186         8
2021-01-07 22:00:00        5.594         8
2021-01-07 23:00:00        7.291         8

[168 rows x 2 columns]

# 48

In [33]:
df9=df[df["meter_id"]==48]
df9=df9.drop(["meter_id"],axis=1)
df9=df9.resample("H").sum()
df9["building"]=9

In [34]:
df9

                     consumption  building
timestamp
2021-01-01 00:00:00        3.353         9
2021-01-01 01:00:00        1.997         9
2021-01-01 02:00:00        3.815         9
2021-01-01 03:00:00        2.333         9
2021-01-01 04:00:00        2.063         9
...                          ...       ...
2021-01-07 19:00:00        5.488         9
2021-01-07 20:00:00        4.320         9
2021-01-07 21:00:00        3.638         9
2021-01-07 22:00:00        4.709         9
2021-01-07 23:00:00        2.409         9

[168 rows x 2 columns]

# checking for null values

In [35]:
df1.isnull().sum()

consumption    0
building       0
dtype: int64

In [36]:
df2.isnull().sum()

consumption    0
building       0
dtype: int64

In [37]:
df3.isnull().sum()

consumption    0
building       0
dtype: int64

In [38]:
df4.isnull().sum()

consumption    0
building       0
dtype: int64

In [39]:
df5.isnull().sum()

consumption    0
building       0
dtype: int64

In [40]:
df6.isnull().sum()

consumption    0
building       0
dtype: int64

In [41]:
df7.isnull().sum()

consumption    0
building       0
dtype: int64

In [42]:
df8.isnull().sum()

consumption    0
building       0
dtype: int64

In [43]:
df9.isnull().sum()

consumption    0
building       0
dtype: int64

# weather data

In [ ]:
w=pd.read_csv(r"C:\machine learning use case\smart energy\smart energy\dataset\weather_data.csv")

In [ ]:
w

In [ ]:
w=w[w["campus_id"]==2]

In [ ]:
w.info()

In [ ]:
w["timestamp"]=pd.to_datetime(w["timestamp"])

In [ ]:
w= w[(w['timestamp'] >= start_date) & (w['timestamp'] <= end_date)]

In [ ]:
w

In [ ]:
w=w.drop(["campus_id"],axis=1)
w=w.set_index("timestamp")
w=w.resample("H").mean()

In [ ]:
w

In [ ]:
w.isnull().sum()

In [ ]:
w['apparent_temperature']=w['apparent_temperature'].fillna(w['apparent_temperature'].mean())
w['air_temperature']=w['air_temperature'].fillna(w['air_temperature'].mean())
w['dew_point_temperature']=w['dew_point_temperature'].fillna(w['dew_point_temperature'].mean())
w['relative_humidity']=w['relative_humidity'].fillna(w['relative_humidity'].mean())
w['wind_speed']=w['wind_speed'].fillna(w['wind_speed'].mean())
w['wind_direction']=w['wind_direction'].fillna(w['wind_direction'].mean())

In [ ]:
w.isnull().sum()

## creating original data

In [ ]:
result1 = pd.concat([df1, w], axis=1)

In [ ]:
result2 = pd.concat([df2, w], axis=1)

In [ ]:
result3 = pd.concat([df3, w], axis=1)

In [ ]:
result4 = pd.concat([df4, w], axis=1)

In [ ]:
result5 = pd.concat([df5, w], axis=1)

In [ ]:
result6 = pd.concat([df6, w], axis=1)

In [ ]:
result7 = pd.concat([df7, w], axis=1)

In [ ]:
result8 = pd.concat([df8, w], axis=1)

In [ ]:
result9 = pd.concat([df9, w], axis=1)

In [ ]:
final_result=pd.concat([result1,result2,result3,result4,result5,result6,result7,result8,result9],axis=0)

In [ ]:
final_result

In [ ]:
final_result=final_result.reset_index()

In [ ]:
final_result

In [ ]:
final_result=final_result[final_result["timestamp"]!=pd.to_datetime("2021-01-08 00:00:00")]

In [ ]:
import datetime

In [ ]:
final_result["month"] = final_result["timestamp"].dt.month
final_result["day"] = final_result["timestamp"].dt.day
final_result["hour"] = final_result["timestamp"].dt.hour
final_result["weekday"] = final_result["timestamp"].dt.weekday

In [ ]:
final_result

In [ ]:
df1=pd.read_csv(r"C:\machine learning use case\smart energy\smart energy\dataset\building_meta.csv")

In [ ]:
df1.columns

In [ ]:
df1.head()

In [ ]:
df1=df1[df1["campus_id"]==2]

In [ ]:
df1= df1.rename(columns={'id': 'building_id', "built_year":"building_builtyear",'gross_floor_area': 'building_floorarea',"category":"building_category"})

In [ ]:
df1=df1[["building_id","building_category","building_floorarea","building_builtyear"]]

In [ ]:
df1['building_id'] = df1['building_id'].replace(to_replace=8,value=1)
df1['building_id'] = df1['building_id'].replace(to_replace=9,value=2)
df1['building_id'] =df1['building_id'].replace(to_replace=10,value=3)
df1['building_id'] = df1['building_id'].replace(to_replace=11,value=4)
df1['building_id'] = df1['building_id'].replace(to_replace=12,value=5)
df1['building_id'] = df1['building_id'].replace(to_replace=13,value=6)
df1['building_id'] = df1['building_id'].replace(to_replace=14,value=7)
df1['building_id'] = df1['building_id'].replace(to_replace=47,value=8)
df1['building_id'] = df1['building_id'].replace(to_replace=48,value=9)

In [ ]:
df1

In [ ]:
final_result= final_result.rename(columns={'building': 'building_id'})

In [ ]:
final_result=final_result.merge(df1,on="building_id")

In [ ]:
final_result.head()

In [ ]:
def assign_value(row):
    if row['weekday']<5:
        return 0
    else:
        return 1
final_result['is_weekend'] = final_result.apply(assign_value, axis=1)

In [ ]:
def assign_value(row):
    if row['month']==12 or row['month']==1 or row['month']==2:
        return "summer"
    if row['month']==3 or row['month']==4 or row['month']==5:
        return "autumn"
    if row['month']==6 or row['month']==7 or row['month']==8:
        return "winter"
    if row['month']==9 or row['month']==10 or row['month']==11 :
        return "spring"
final_result['season'] = final_result.apply(assign_value, axis=1)

In [ ]:
final_result.isnull().sum()

In [ ]:
final_result.columns

In [ ]:
final_result.shape

In [ ]:
df2=pd.read_csv(r"C:\machine learning use case\smart energy\smart energy\dataset\calender.csv")

In [ ]:
df2.head()

In [ ]:
df2=df2[["date","is_holiday"]]

In [ ]:
df2["date"]=pd.to_datetime(df2["date"])

In [ ]:
df2

In [ ]:
final_result["date"] = final_result["timestamp"].dt.date

In [ ]:
final_result

In [ ]:
final_result.columns

In [ ]:
df2["date"]=pd.to_datetime(df2["date"])

In [ ]:
final_result["date"]=pd.to_datetime(final_result["date"])

In [ ]:
final_result=final_result.merge(df2,on="date")

In [ ]:
final_result.head()

In [ ]:
final_result= final_result.rename(columns={'consumption': 'energy_consumption'})

In [ ]:
final_result

In [ ]:
final_result=final_result.drop("date",axis=1)

In [ ]:
final_result.head()

In [223]:
final_result.to_csv("energy_consumption_future_data.csv",index=False)